{% extends 'base_plataforma.html' %}

{% block titulo %}HEALTH-PRO{% endblock titulo %}


{% block head %}{% endblock head %}

{% block plataforma %}

<div class="col-md-12 ">
  <div class="modelo">
    <h3>CONTATOS</h3>
    {% if messages %}
    <br>
    {% for message in messages %}
        <div class='alert {{message.tags}} col-md-3'>
            {{message}}
        </div>
    {% endfor %}
    {% endif %}
      <table class="table">
        <thead>
          <tr>
            <th>NOME</th>
            <th>TELEFONE </th>
            <th>EMAIL </th>
            <th>AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          {% for i in contatos %}
          <tr>
            <td>{{i.nome}}</td>
            <td>{{i.celular}}</td>
            <td>{{i.email}}</td>

            <td>
              <a href="{% url 'editar_contato' i.id%}">Editar</a>
              <a href="{% url 'deletar_contato' i.id%}">Deletar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <a style='margin-left: 2px' href="{% url 'cadastro_contato'%}" class='btn btn-secondary'>NOVO CONTATO</a>
        <a style='margin-left: 5px' href="{% url 'envia_smss'%}" class='btn btn-secondary'>PEDIR AJUDA</a>
      </table>
  </div>
</div>


{% endblock plataforma %}
